@mixin make-scrollbar($width, $topGap, $bottomGap) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    margin-top: $topGap;
    margin-bottom: $bottomGap;
    background: transparent;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.6);
    border-radius: 20px;
    transition: all 0.2s;

    &:hover {
      background: rgba(136, 136, 136, 0.8);
      background-clip: padding-box;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  @include make-scrollbar(8px, 4px, 4px);

  margin: 0;
  padding: 0;
}

.card-header-title {
}
